@model MyProject.Models.ExternalManagementCompany

<h1>Изменить компанию</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="CompanyName" class="control-label">Наименование компании</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ContractEndDate" class="control-label">Дата окончания договора</label>
        <input asp-for="ContractEndDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>
<a href="@Url.Action("Index")" class="btn btn-secondary">Назад</a>
