@model MyProject.Models.Executor

<h1>Удалить исполнителя</h1>

<div>
    <h4>Вы уверены, что хотите удалить этого исполнителя?</h4>
    @if (ViewData["IsReferenced"] != null && (bool)ViewData["IsReferenced"])
    {
        <div class="alert alert-warning">
            Данный исполнитель используется в заявке, удаление невозможно.
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            ФИО исполнителя
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Номер телефона
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
    </dl>

    @if (ViewData["IsReferenced"] == null || !(bool)ViewData["IsReferenced"])
    {
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <input type="hidden" name="handler" value="DeleteConfirmed" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="javascript:history.back()" class="btn btn-secondary">Назад</a>
        </form>
    }
    else
    {
        <a href="javascript:history.back()" class="btn btn-secondary">Назад</a>
    }
</div>
