@model MyProject.Models.House

<h1>Удалить дом</h1>

<div>
    <h4>Вы уверены, что хотите удалить этот дом?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Улица
        </dt>
        <dd class="col-sm-10">
            @Model.Street
        </dd>
        <dt class="col-sm-2">
            Номер дома
        </dt>
        <dd class="col-sm-10">
            @Model.HouseNumber
        </dd>
        <!-- Add more fields as necessary -->
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>
